section.section__hobbies
    .hobbies__wrap.center
        p.hobbies__title-text.title-left.title-style|Увлечения/Хобби
        .hobbies__item-wrap
            .hobbies__item.column
                p.hobbies__text.text-style|Готовить
                p.hobbies__text.text-style|Слушать музыку
                p.hobbies__text.text-style|Автомобили и все что с ними связано
                p.hobbies__text.text-style|Просто погулять по городу