section.section__hobbies
    .hobbies__wrap.center
        p.hobbies__title-text|Увлечения/Хобби
        .hobbies__item-wrap
            .hobbies__item.column
                p.hobbies__text|Готовить
                p.hobbies__text|Слушать музыку
                p.hobbies__text|Автомобили и все что с ними связано
                p.hobbies__text|Просто погулять по городу