section.section__social
    .social__wrap.center
        p.social__title-text|Социальные сети
        .social__item.column
            a.social__link.github(href="http://github.com/Zheka-ded")|GitHub
            a.social__link.linkedin(href="http://linkedin.com/in/евгений-шевченко-49b53a176")|Linkedin
            a.social__link.facebook(href=" http://fb.com/iOlld")|Facebook
            a.social__link.telegram(href="http://t.me/iOlld")|Telegram
            a.social__link.skype(href="skype:shervinator2?call")|Skype
            //- p.social__link.skype|shervinator2