section.section__social
    .social__wrap.center
        p.social__title-text.title-left.title-style|Социальные сети
        .social__item
            a.social__link.github(href="http://github.com/Zheka-ded" target="blank")|GitHub
                i(class="fab fa-github icon-style")
            a.social__link.linkedin(href="http://linkedin.com/in/евгений-шевченко-49b53a176" target="blank")|Linkedin
                i(class="fab fa-linkedin-in icon-style")
            a.social__link.facebook(href=" http://fb.com/iOlld" target="blank")|Facebook
                i(class="fab fa-facebook icon-style")
            a.social__link.telegram(href="http://t.me/iOlld" target="blank")|Telegram
                i(class="fab fa-telegram-plane icon-style")
            a.social__link.skype(href="skype:shervinator2?call" target="blank")|Skype
                i(class="fab fa-skype icon-style")
