section.section__social
    .social__wrap.center
        p.social__title-text.title-left.title-style|Социальные сети
        //- .social__item.column
        .social__item
            a.social__link.github(href="http://github.com/Zheka-ded")|GitHub
                i(class="fab fa-github icon-style")
            a.social__link.linkedin(href="http://linkedin.com/in/евгений-шевченко-49b53a176")|Linkedin
                i(class="fab fa-linkedin-in icon-style")
            a.social__link.facebook(href=" http://fb.com/iOlld")|Facebook
                i(class="fab fa-facebook icon-style")
            a.social__link.telegram(href="http://t.me/iOlld")|Telegram
                i(class="fab fa-telegram-plane icon-style")
            a.social__link.skype(href="skype:shervinator2?call")|Skype
                i(class="fab fa-skype icon-style")
            //- p.social__link.skype|shervinator2