.body{
    background: #bebbbb;
    width: 100%;
}

.body__wrap{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 50px 150px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #666;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.title-left{
    display: flex;
    align-self: flex-start;
}

.title-style{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}