section.section__experience
    .experience__wrap.center
        p.experience__title-text|Опыт
        .experience__item.column
            p.experience__time|05.2019 - 07.2019
            p.experience__work|Фриланс
                                br
                                |HTML/CSS Developer
                                br
                                |Верстка страниц по макету дизайнера.
                                br
                                |Меня взяли в помощь верстальщику который уже работал над проектом.
                                |Этот калич месяц не мог сделать главную страницу,
                                |хотя звезд на Фриланс бирже у него больше чем у генерал-полковника на погонах.
                                |Через полторы недели я показал ему полностью готовую страницу и через пару дней этот вася свалил, 
                                |а я остался сам.
                                |Изначально планировалась одна страница, но в ходе работы их прибавилось еще одинадцать.
                                |Я сделал 5 страниц чуть больше чем за месяц.
                                |Много времени пошло на непонятки с заказчиком и дизайнером, если второй не всегда был на связи
                                |то первый не мог нормально объяснить чего он хочет.
                                |Дальше я делал небольшие правки и ждал оплаты за первый месяц работы.
                                |В итоге дождался только четвертую часть денег к концу второго месяца.
                                |На том мы и разошлись, чувство того что я лохонулся на месте и никуда не делось, но и 
                                |чувство того что я справился даже когда остался сам и много чего не знал как делать
                                | тоже на месте. Сочинение на тему как я работал... Жесть короче...
                                |Не ну это понятно что я исправлю)))