section.section__experience
    .experience__wrap.left
        p.experience__title-text.title-left.title-style|Опыт
        .experience__item.column
            p.experience__time.text-style|05.2019 - 07.2019 Viterra Trade (удаленно)
            p.experience__work.text-style|HTML/CSS Developer
                                        br
                                        |Верстка страниц по макету дизайнера.
            a.experience__link-work.text-style(href="https://viterra.github.io/" target="blank")|Ссылка на верстку "Viterra Trade"
            p.experience__work.text-style|09.2018 по настоящее время работаю гибщиком в "ООО "Мост Азия" 
                                        |Производство металлочерепицы и профнастила