section.section__experience
    .experience__wrap.center
        p.experience__title-text.title-left.title-style|Опыт
        .experience__item.column
            p.experience__time.text-style|05.2019 - 07.2019
            p.experience__work.text-style|Фриланс
                                br
                                |HTML/CSS Developer
                                br
                                |Верстка страниц по макету дизайнера.