<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title CV Евгений Шевченко
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous")
        link(rel="stylesheet", href="./css/main.css")
    body.body
        .body__wrap

            include ../blocks/header/header.pug
            include ../blocks/social/social.pug
            include ../blocks/goal/goal.pug
            include ../blocks/experience/experience.pug
            include ../blocks/education/education.pug
            include ../blocks/languages/languages.pug
            include ../blocks/skills/skills.pug
            include ../blocks/personality/personality.pug
            include ../blocks/hobbies/hobbies.pug

        script(src="./js/main.js")