section.section__personality
    .personality__wrap.center
        p.personality__title-text.title-left.title-style|Личные качества
        .personality__item-wrap
            .personality__item.column
                p.personality__text|Общительный
                p.personality__text|Пунктуальный
                p.personality__text|Оптимистичный
                p.personality__text|Дружелюбный
                p.personality__text|Аккуратный
            .personality__item.column
                p.personality__text|Организованный
                p.personality__text|Креативный
                p.personality__text|Хорошее чувство юмора
                p.personality__text|Быстро обучаюсь
                p.personality__text|Уравновешенный