section.section__personality
    .personality__wrap.center
        p.personality__title-text.title-left.title-style|Личные качества
        .personality__item-wrap
            .personality__item.column
                p.personality__text.text-style|Общительный
                p.personality__text.text-style|Пунктуальный
                p.personality__text.text-style|Оптимистичный
                p.personality__text.text-style|Дружелюбный
                p.personality__text.text-style|Аккуратный
            .personality__item.column
                p.personality__text.text-style|Организованный
                p.personality__text.text-style|Креативный
                p.personality__text.text-style|Хорошее чувство юмора
                p.personality__text.text-style|Быстро обучаюсь
                p.personality__text.text-style|Уравновешенный