section.section__languages
    .languages__wrap.center
        p.languages__title-text.title-left.title-style|Языки
        .languages__item.column
            p.languages__text.text-style|Английсский - элементарный