section.section__skills
    .skills__wrap.center
        p.skills__title-text.title-left.title-style|Навыки
        .skills__item-wrap
            .skills__item.column
                p.skills__text.text-style|HTML 5
                p.skills__text.text-style|CSS 3
                p.skills__text.text-style|PUG
                p.skills__text.text-style|SASS/SCSS
                p.skills__text.text-style|GULP
                p.skills__text.text-style|Git/GitHub
                p.skills__text.text-style|BEM
            .skills__item.column
                p.skills__text.text-style|Bootstrap
                p.skills__text.text-style|Materialize
                p.skills__text.text-style|jQuery (подключение плагинов)
                p.skills__text.text-style|JavaScript
                p.skills__text.text-style|Figma
                p.skills__text.text-style|Avocode
                p.skills__text.text-style|Adobe Photoshop