section.section__skills
    .skills__wrap.center
        p.skills__title-text.title-left.title-style|Навыки
        .skills__item-wrap
            .skills__item.column
                p.skills__text|HTML 5
                p.skills__text|CSS 3
                p.skills__text|PUG
                p.skills__text|SASS/SCSS
                p.skills__text|GULP
                p.skills__text|Git/GitHub
                p.skills__text|BEM
            .skills__item.column
                p.skills__text|Bootstrap
                p.skills__text|Materialize
                p.skills__text|jQuery (подключение плагинов)
                p.skills__text|JavaScript
                p.skills__text|Figma
                p.skills__text|Avocode
                p.skills__text|Adobe Photoshop