header.header
    .header__wrap.center
        p.header__name.title-left|Евгений Шевченко
        .header__contacts-info.column
            p.header__birth-day.text-style|09.10.1985
            //- p.header__telephone|+38(067)461-61-69
            a.header__telephone.text-style(href="tel:+38(067)461-61-69")|+38(067)461-61-69
            //- br
            //- p.header__mail|11vitamin11@rambler.ru
            a.header__mail.text-style(href="mailto:11vitamin11@rambler.ru")|11vitamin11@rambler.ru
            p.header__location.text-style|Киев