section.section__education
    .education__wrap.center
        p.education__title-text.title-left.title-style|Образование
        .education__item.column
            p.education__description-text.text-style|09.2019 года по настоящее время прохожу курс "JavaScript v 2.0" от Александр Лущенко
            p.education__description-text.text-style|06.2019 года по настоящее время прохожу курс "Практический JavaScript" от Александр Лущенко
            p.education__description-text.text-style|02.2019 - 06.2019 онлайн курс "Front-end" от CURSOR.EDUCATION
            p.education__description-text.text-style|09.2018 - 12.2018 очный курс "Front-end" от PROG.KIEV.UA
            p.education__description-text.text-style|2005 - 2009 
                                            br
                                            |Конотопский институт Сумского государственного университета
                                            br
                                            |Факультет "Экономика предприятий"
            p.education__description-text.text-style|2002 - 2006
                                            br
                                            |Украинский государственный университет железнодорожного транспорта
                                            br
                                            |Факультет "Управление процесами перевозок"
                                            