section.section__goal
    .goal__wrap.left
        p.goal__title-text.title-left.title-style|Цель
        .goal__item-wrap
            .goal__item.column
                p.goal__text.text-style|
                                        |
                                        |IT сфера мне нравится тем, что здесь нужно постоянно учиться и развиваться, 
                                        |если остановишься то окажешься за бортом.
                                        br
                                        |Я долго выбирал с чего начать, что учить, что мне будет интересно и в каком направлении начать свой путь в IT. 
                                        |В итоге я выбрал Front-end. Это очень интересная, перспективная и стремительно развивающаяся область IT индустрии.
                                        br
                                        |Сейчас ищу работу на позицию Junior front-end developer, а также рассматривается вариант стажировки.