section.section__goal
    .goal__wrap.center
        p.goal__title-text.title-left.title-style|Цель или что-то другое
        .goal__item-wrap
            .goal__item.column
                p.goal__text.text-style|Почему IT, потому что здесь нужно постоянно учится и развиваться.
                                        br
                                        |Цель - стать teem lead одной из крупнейших IT компаний Украины и мира
                                        br
                                        |IT мне было интересно как все работает под капотом, но на учится в этом направлении небыло возможности.
                                        |Сейчас я хочу стать крутым front end разработчиком
                                        |Но нужно опыт, а как вы знаете лучший опыт приходит во время работы
                                        | 