section.section__goal
    .goal__wrap.center
        p.goal__title-text.title-left.title-style|Цель/Мотивация
        .goal__item-wrap
            .goal__item.column
                p.goal__text.text-style|
                                        |
                                        |IT мне нравится тем что здесь нужно постоянно учится и развиваться, 
                                        |ели остановиться то окажешься за бортом.
                                        br
                                        |Я долго выбирал с чего начать, что учить, что мне будет интересно, 
                                        |что мне понравится и в каком направлении развиваться.
                                        br
                                        |В итоге я выбрал Front-end это очень интересная перспективная и стремительно развивающаясь область/ветвь 
                                        |IT индустрии.
                                        br
                                        |Сейчас ищу работу на пизиции junior front-end developer так же рассматривается вариант стажировки.
                                        |