section.section__goal
    .goal__wrap.center
        p.goal__title-text.title-left.title-style|Цель
        .goal__item-wrap
            .goal__item.column
                p.goal__text|Здесь будет текст с целью и всем прочим