section.section__goal
    .goal__wrap.center
        p.goal__title-text.title-left.title-style|Цель
        .goal__item-wrap
            .goal__item.column
                p.goal__text.text-style|
                                        |
                                        |IT сфера мне нравится тем, что здесь нужно постоянно учится и развиваться, 
                                        |если остановишься то окажешься за бортом.
                                        br
                                        |Я долго выбирал с чего начать, что учить, что мне будет интересно и в каком направлении начать 
                                        |свой путь в IT. В итоге я выбрал Front-end это очень интересная, 
                                        |перспективная и стремительно развивающаясь область IT индустрии.
                                        //- |В итоге я выбрал Front-end это очень интересная перспективная и стремительно развивающаясь область/ветвь 
                                        //- |IT индустрии.
                                        br
                                        |Сейчас ищу работу на пизиции junior front-end developer так же рассматривается вариант стажировки.